<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.asl.assel.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_muffin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_muffin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.RecipeFragmentActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.content.RecipeContentProvider"
            android:authorities="me.asl.assel.bakingapp"
            android:exported="false" />

        <receiver android:name=".provider.RecipeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info" />
        </receiver>


    </application>

</manifest>